

/*----------------------------------------
Articles
----------------------------------------*/


  .article {
    grid-column: 1 / -1;
    padding-top: 2rem;
    margin-top: 1.5rem;
    border-top: dotted 3px #888;
    text-align: left;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "article-image"
    "article-title"
    "article-desc"
    "article-meta";
    @media (min-width: 696px) {
      grid-gap: 0rem 3rem;
      grid-template-columns: 3fr 1.5fr;
      grid-template-areas: 
      "article-title article-image "
      "article-desc article-image"
      "article-meta article-image ";
    }
    @media (min-width: 896px) {
      grid-column: 3 / 11;
    }
    &:first-child {
      border-top: none;
      padding-top: 0;
      margin-top: 20px;
    }
  }
  .article-image {
    grid-area: article-image;
    img {
      border-radius: 10px;
    }
  }
  .article-title {
    margin: .5rem 0;
    font-weight: 700;
    font-style: normal;
    grid-area: article-title;
  }
  .article-desc {
    margin: 0;
    line-height: 1.3;
    opacity: 0.8;
    grid-area: article-desc;
  }
  .article-meta {
    font-size: 80%;
    margin: 0;
    opacity: 0.6;
    grid-area: article-meta;
  }

