/*----------------------------------------
Images
----------------------------------------*/
figure {
  transition: all 300ms ease-in;
  transform: scale(1);
  display: flex;
  flex-direction: column;

  &:hover {
    transition: all 300ms ease-in;
    transform: scale(1.1);
    border: solid 5px #ccc;
    h3 {
      text-decoration: underline;
      color: #2680b7;
    }
  }
  @media (min-width: 826px) { 
    padding: 2rem 1.5rem;
  }

  h4 {
    opacity: 0.7;
    display: block;
    text-transform: uppercase;
    margin-top: 0;
    padding: 0 .5rem .5rem;
    @include fluid(1.0rem, 1.1);
    font-weight: 400;
    @media (min-width: 696px) {
      padding: 0 5rem .5rem;
    }
  }

  .figure-image {
    min-width: 15vmin;
  }


  
  figcaption {
    font-weight: 400;
      h3 {
        display: block;
        margin: 1rem 0 .25rem;
        padding: 0;
    }

      p {
        opacity: 0.7;
    }
  }
}

figure.animate__animated {
  animation-play-state: paused;
}
.animating figure.animate__animated {
  animation-play-state: running;
  @include one-at-a-time(4); /* don't forget to set a duration! */
}