/*----------------------------------------
Images
----------------------------------------*/
figure {
  margin: 0;
  transition: all 300ms ease-in;
  transform: scale(1);
  background-color: #fff;
  border: solid 5px #fff;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1rem .5rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

  &:hover {
    transition: all 300ms ease-in;
    transform: scale(1.1);
    border: solid 5px #ccc;
    h3 {
      text-decoration: underline;
      color: #2680b7;
    }
  }
  @media (min-width: 826px) { 
    padding: 2rem 1.5rem;
  }

  h4 {
    opacity: 0.7;
    display: block;
    text-transform: uppercase;
    margin-top: 0;
    padding: 0 .5rem .5rem;
    @include fluid(1.0rem, 1.1);
    font-weight: 400;
    @media (min-width: 696px) {
      padding: 0 5rem .5rem;
    }
  }

  .figure-image {
    border-radius: 90%;
    width: 70px;
    height: 70px;
    overflow: hidden;
    margin: 0 auto;
    border: solid 3px #ccc;
    @media (min-width: 826px) { 
      width: 120px;
      height: 120px;
    }
  }


  
  figcaption {
    font-weight: 400;
      h3 {
        display: block;
        margin: 1rem 0 .25rem;
        padding: 0;
    }

      p {
        opacity: 0.7;
    }
  }
}

figure.animate__animated {
  animation-play-state: paused;
}
.animating figure.animate__animated {
  animation-play-state: running;
  @include one-at-a-time(4); /* don't forget to set a duration! */
}