  
/*----------------------------------------
Social Icons List
----------------------------------------*/

.social-list-container {
  margin: 1vw auto;
}

ul.social-list {
  display: flex;
  flex-direction: row;
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 2;
  grid-row-end: 3;

  li {
    font-size: clamp(1.5vw, 1vw + 1.25vw, 2vw);
    padding-right: clamp(1vw, -3vw + 2.5vw, 1.5vw);;
    opacity: 0.7;
    &:hover {
      opacity: 1;
    }
  }
  a {
    @include link-color(#888);
  }
}