  
/*----------------------------------------
Social Icons List
----------------------------------------*/

ul.social-list {
  display: flex;
  flex-direction: row;
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 2;
  grid-row-end: 3;

  li {
    font-size: clamp(1.5rem, 1vw + 1.25rem, 2rem);
    padding-right: clamp(1rem, -3vw + 2.5rem, 1.5rem);;
    opacity: 0.7;
    &:hover {
      opacity: 1;
    }
  }
  a {
    @include link-color(#888);
  }
}