  
/*----------------------------------------
Social Icons List
----------------------------------------*/

ul.social-list {
  // display: flex;
  // flex-direction: row;
  // grid-column-start: 1;
  // grid-column-end: -1;
  // grid-row-start: 2;
  // grid-row-end: 3;

  li {
    font-size: 140%;
    padding-right: 1rem;
    opacity: 0.7;
    @media (min-width: 696px) {
      font-size: 120%;
      padding-right: 1.5rem;
    }
    &:hover {
      opacity: 1;
    }
  }
  a {
    @include link-color(#888);
  }
}