---
layout: layouts/base.njk
---
<article class="main-article">
<div class="container container--narrow flow">
  
    <h1 class="article-title">
      {{ title }}
    </h1>
    <figure class="main-article__figure">
      <img src="{{ image}}" alt="{{ imageAlt }}">
      <figcaption>
        {{ imageAlt }}
      </figcaption>
    </figure>
    
    {{ content | safe }}
  
</div>
</article>

{# <article>{{ content | safe}}</article>

<aside>
  {% for social in social_list %}
    <p>{{ social.site }} | {{ social.handle }}</p> 
    <p>{{ social.url }}</p> 
  {% endfor %}
</aside>


{% include "partials/_social_list.njk" %} #}