
        <h2>About</h2>


        <div class="polaroids">
          <img src="/img/parallax/polaroids.png" alt="Greg Robleto" />
        </div>  

        <div class="about-text">
        <p>Hey there. Thanks for visiting my over-skeuomorphic personal website.</p>
        <p>I have over 20 years of experience building successful websites by understanding complex business strategies and creating intuitive solutions. My niche is being able to connect design, product, marketing, brand and technology together in ways that deliver real value to millions of digital users. </p>

        <p>I'm a passionate advocate for design and enjoy mentoring design students, coaching young professionals, and teaching courses for aspiring web designers. </p>

        <p>In my personal life, I'm a husband, an active parent to two daughters, an aspiring CSS artist, an okay tennis player, and an avid traveller. You can find me at any of the links below. Please don't hesitate to get in touch!</p>