<div class="overview-elements section-elements">

    <h1 class="greg">Greg Robleto</h1>
    <span class="static-txt isa">is a</span>
    <span class="text-typed title">
        <div id="typewriter-text" class="typewriter-text"></div>
    </span>
    <span class="location">working remotely from 
        <img class="maryland" src="/img/rockvillemd.svg" alt="Rockville, Maryland" />Rockville, Maryland 
    </span>
</div>


<div class="macbook"><img src="/img/parallax/laptop.svg" alt="Macbook Pro" class="animate__animated animate__bounceInRight  animate__faster"></div>

<div class="arms"><img src="/img/parallax/parallax-arms-2.png" alt="Arms across a keyboard" class="animate__animated animate__slideInUp  animate__faster"></div>

<div class="notebook"><img src="/img/parallax/notebook.svg" alt="An open notebook" class="animate__animated animate__rotateInDownLeft  animate__faster"></div>
<div class="phone"><img src="/img/parallax/phone.svg" alt="An iPhone" class="animate__animated animate__rotateInDownLeft  animate__faster"></div>
<div class="pen"><img src="/img/parallax/pen.svg" alt="A pen" class="animate__animated animate__rotateInDownLeft  animate__faster"></div>
<div class="coffee"><img src="/img/parallax/latte.svg" alt="A cup of coffee" class="animate__animated animate__bounceInLeft  animate__faster"></div> 