
        <h2 class="title-portfolio">Portfolio</h2>

            <div class="port-9tax">
              <img src="/img/parallax/portfolio-9taxmoves.svg" alt="Motley Fool Premium Platform" />
            </div>  


            <div class="port-designsys">
              <a href="https://dribbble.com/shots/19194271-Establishing-a-New-Design-System" target="_blank">
                <img src="/img/parallax/portfolio-designsystem.svg" alt="Building a Design System" class="animate__animated animate__fadeIn" />
              </a>
            </div>  


            <div class="port-siteredesign">
              <a href="https://dribbble.com/shots/19052793-Redesigning-40-Products-into-One-Holistic-Experience" target="_blank">
                <img src="/img/parallax/portfolio-siteredesign.svg" alt="Site Redesign" class="animate__animated animate__fadeIn" />
              </a>
            </div>  


            <div class="port-designteam">
              <a href="https://dribbble.com/shots/20071572-Building-a-Product-Design-Team" target="_blank">
                <img src="/img/parallax/portfolio-designteam.svg" alt="Creating a Design Team" class="animate__animated animate__fadeIn" />
              </a>
            </div>  


<div class="folio"><img src="/img/parallax/folio.svg" alt="Portfolio case" class="animate__animated animate__bounceInRight  animate__faster"></div>

  <blockquote>“I am continually in awe of the breadth of skills you bring to the table everyday. I appreciate the guidance you've given to me, the continued collaboration you instill in the team and stakeholders, and the optimism and thoughtfulness you bring in everything you do. Thanks for your leadership!” &nbsp;&nbsp;~ Nate M., CTO</blockquote>