
        <h2>Portfolio Highlights</h2>
        <div class="elements portfolio-elements viewport-checker">

        <figure class="animate__animated animate__fadeIn">
          <a href="https://dribbble.com/shots/19052793-Redesigning-40-Products-into-One-Holistic-Experience">
             <h4>Creative Direction, Business, Product, & Design Strategy</h4>
              <div class="figure-image">
                <a href="https://dribbble.com/shots/19052793-Redesigning-40-Products-into-One-Holistic-Experience2">
                  <img src="/img/portfolio/premium-platform-portrait.jpg" alt="Motley Fool Premium Platform" />
                </a>
            </div>  
            <figcaption>
              <h3>
                <a href="//robleto.medium.com/product-suite-redesign-3815c3c37bf2">
                Redesigning 40 Products into One Holistic Experience
                </a>
              </h3>
              <p>A case study in simplifying and redesigning an unwieldy collection of 40+ digital subscription products.</p>
            </figcaption>
            </a>
        </figure>

        <figure class="animate__animated animate__fadeIn">
             <h4>Design Director, Design Lead, Hiring Manager</h4>
              <div class="figure-image">
              <a href="https://dribbble.com/shots/20071572-Building-a-Product-Design-Team">
                <img src="/img/portfolio/designprinciples-portrait.jpg" alt="Building a Product Design Team" />
              </a>
            </div>  
            <figcaption>
              <h3>
                <a href="https://dribbble.com/shots/20071572-Building-a-Product-Design-Team">
                Standing up a new Product Design Team
                </a>
              </h3>
              <p>A case study in establishing a new Design team and with that a Design Culture.</p>
            </figcaption>
        </figure>

        <figure class="animate__animated animate__fadeIn desktop-only">
          <a href="https://dribbble.com/shots/19194271-Establishing-a-New-Design-System">
            <h4>Concept, Creative Direction, Strategy &amp; Architecture</h4>
               <div class="figure-image">
                <a href="//robleto.medium.com/establishing-a-new-design-f15a4d963904">
                  <img src="/img/portfolio/designsystem-portrait.jpg" alt="Creating a Design System" />
              </a>
            </div>  
            <figcaption>
              <h3>
                <a href="https://dribbble.com/shots/19194271-Establishing-a-New-Design-System">
                Establishing a Centralized Design System
                </a>
              </h3>
              <p>A case study in finding an entirely new style and installing a custom design pattern library in the process.</p>
            </figcaption>
        </figure>

        
        <!-- <figure>
          <a href="//robleto.medium.com/onboarding-19cbfabe6980">
            <img src="/img/onboarding2021.png" alt="Onboarding" />
            <figcaption>Product Onboarding</figcaption>
            <small><em>Setting up different audiences for success</em></small>
          </a>
        </figure>

        <figure>
          <a href="//robleto.medium.com/product-design-development-process-3aed8a8b814e">
            <img src="/img/dri.png" alt="Product Design & Development Process" />
            <figcaption>Design &amp; Development Process</figcaption>
            <small><em>Spearheading a completely new approach to product development.</em></small>
          </a>
        </figure>  -->

        <div class="fullwidth">
          <a href="resume.pdf" target="_blank" class="sub-action" style="margin: 0 auto; text-align: center; display: block; max-width: 300px;">See full resumé</a>
        </div> 

</div>
        
