
        <h2>Projects</h2>


        <div class="crumple-1">
          <img src="/img/parallax/crumple.svg" alt="Bad Idea" />
        </div>  
        <div class="crumple-2">
          <img src="/img/parallax/crumple2.svg" alt="Bad Idea" />
        </div>  
        <div class="crumple-3">
          <img src="/img/parallax/crumple2.svg" alt="Bad Idea" />
        </div>  
        <div class="crumple-4">
          <img src="/img/parallax/crumple.svg" alt="Bad Idea" />
        </div>  
        <div class="crumple-5">
          <img src="/img/parallax/crumple.svg" alt="Bad Idea" />
        </div>  

        <div class="pen">
          <img src="/img/parallax/pen.svg" alt="Pen" />
        </div>  
        <div class="campervan">
          <a href="https://cssartstudio.com">
          <img src="/img/parallax/campervan-crop.gif" alt="CamperVan" />
          </a>
        </div>  
        <div class="notebook">
          <a href="https://cssartstudio.com">
            <img src="/img/parallax/notebook2.svg" alt="Notebook" />
          </a>
        </div>  

        <div class="napkin-AFewLifeNotes">
          <img src="/img/parallax/AFewLifeNotes.svg" alt="A Few Life Notes" />
        </div>  
        <div class="napkin-ChristmasCard">
          <a href="https://robletofamily.com">
            <img src="/img/parallax/ChristmasCard.svg" alt="Christmas Card" />
          </a>
        </div>  
        <div class="napkin-LauraandDean">
          <a href="http://laura-and-dean.netlify.app">
            <img src="/img/parallax/LauraandDean.svg" alt="Wedding Website" />
          </a>
        </div>  
        <div class="word-CSSArt">
          <a href="https://cssartstudio.com">
          <img src="/img/parallax/CSSArt-word.svg" alt="CSS Art" />
          </a>
        </div>  
        <div class="napkin-FastCon">
          <a href="http://fastcon.live">
            <img src="/img/parallax/FastCon.svg" alt="FastCon" />
          </a>
        </div>  
        <div class="napkin-Palindrome">
          <a href="https://istodayapalindrome.netlify.app">
            <img src="/img/parallax/Palindrome.svg" alt="Is Today a Palindrome" />
          </a>
        </div>  

