
        <h2>How I Can Help You?</h2>
        <div class="elements skills-elements viewport-checker">

          <figure class="vertical-card animate__animated animate__fadeIn">
              <img src="/img/icons/compass-duotone.svg" alt="Creative Direction" />
                <h3>Creative Direction</h3>
                <p>Providing high-level creative decision-making and leadership for the business.</p>
          </figure>

          <figure class="vertical-card animate__animated animate__fadeIn">
                <img src="/img/icons/compass-drafting-duotone.svg" alt="User Experience / User Interface Design" />
                <h3>UX / UI Design</h3>
              <p>Crafting the experience and interface that delights the user while serving the business.</p>
          </figure>

          <figure class="vertical-card animate__animated animate__fadeIn">
                <img src="/img/icons/swatchbook-duotone.svg" alt="Design Systems" />
                <h3>Design Systems</h3>
              <p>Organizing all visual assets for clarity, efficiency and scalability.</p>
          </figure>

          <figure class="vertical-card animate__animated animate__fadeIn">
                <img src="/img/icons/telescope-duotone.svg" alt="UX Research" />
                <h3>User Research</h3>
              <p>Uncovering the user needs and testing alignment with the goals of the business.</p>
          </figure>

          <figure class="vertical-card animate__animated animate__fadeIn animate__delay-3s">
                <img src="/img/icons/box-open-duotone.svg" alt="Product Strategy" />
                <h3>Product Strategy</h3>
              <p>Providing direction for creating the right product that will encourage habitual adoption.</p>
          </figure>

          <figure class="vertical-card animate__animated animate__fadeIn animate__delay-4s animate__delay-2s">
                <img src="/img/icons/flag-duotone.svg" alt="Brand Strategy" />
                <h3>Brand Strategy</h3>
              <p>Cultivating the identity of the business to increase awareness and positivity.</p>
          </figure>

        </div>

        <div class="elements skills-stat-elements viewport-checker desktop-only">

          <div class="vertical-card stat-card desktop-only">
                <img src="/img/icons/clock-duotone.svg" alt="UX Research" />
                <h3>Hours Designing</h3>
                <h2 class="counter">36,960</h2>
          </div>
            
          <div class="vertical-card stat-card desktop-only">
                <img src="/img/icons/rocket-launch-duotone.svg" alt="UX Research" />
                <h3>Projects Shipped</h3>
                <h2 class="counter">148</h2>
          </div>
        
          <div class="vertical-card stat-card desktop-only">
                <img src="/img/icons/hand-holding-heart-duotone.svg" alt="UX Research" />
                <h3>Designers Trained </h3>
                <h2 class="counter">94</h2>
          </div>
          
        </div>
        
