
        <h2>Thoughts</h2>


        <div class="magazine">
          <img src="/img/parallax/magazine.svg" alt="Magazine layout" alt="Greg Robleto's Thoughts" />
        </div>  

        <div class="article article-1">
            <a class="article-image" href="/blog/2023-10-31-css-art-divotober-2023/"><img src="/img/blog/divtober23-sm.png" alt="Divtober 2023 -CSS Single-Div Art"/></a>
            <h3 class="article-title">
              <a href="/blog/2023-10-31-css-art-divotober-2023/">Pure CSS Art, one HTML tag - My Divtober 2023 collection</a>
            </h3>
            <p class="article-desc">For the past month, I have been creating CSS Art based on a daily prompt, utilizing only one single HTML div. It was challenging but motivating and I learned a lot about CSS and art along the way. Here is a post I wrote up looking at all 31 pieces from Divtober 2023.</p>
            <p class="article-meta">Greg Robleto  ·  Oct 30, 2023 · 11 min read</p>
        </div>

    <div class="article article-2">
        <a class="article-image" href="/blog/2023-04-19-advice-designs-will-not-want-to-read/"><img src="/img/blog/biting-pencil.jpg" alt="Frustrated biting a pencil"/></a>
        <h3 class="article-title">
          <a href="/blog/2023-04-19-advice-designs-will-not-want-to-read/">The Best Advice for Designers that Designers Will Not Want to Read</a>
        </h3>
        <p class="article-desc">Displaying empathy for their users’ needs, wants, and behaviors lead to understanding. Understanding unlocks possibilities. Possibilities lead to better products and experiences tailored to users’ needs.</p>
        <p class="article-meta">Greg Robleto  ·  Apr 18, 2023 · 4 min read</p>
    </div>

    <div class="article article-3">
        <a class="article-image" href="/blog/2023-04-18-controversial-retirement-book-or-not/"><img src="/img/blog/paradise.jpg" alt="Paradise on a Beach"/></a>
        <h3 class="article-title">
          <a href="/blog/2023-04-18-controversial-retirement-book-or-not/">The Most Contrarian Book I’ve Read on Saving for Retirement (or Not)</a>
        </h3>
        <p class="article-desc">I find the book Die with Zero is a very contrarian book on how to save for retirement. Here are five agrees and three disagrees from reading this book.</p>
        <p class="article-meta">Greg Robleto  ·  Apr 17, 2023 · 6 min read</p>
    </div>


    <div class="article article-4">
        <a class="article-image" href="/blog/2023-01-23-skiing-is-like-ux-by-chatgpt/"><img src="/img/blog/skipoles.jpg" alt="Ski Poles in the Snow"/></a>
        <h3 class="article-title">
          <a href="/blog/2023-01-23-skiing-is-like-ux-by-chatgpt/">Can Learning to Ski teach you about User Experience Design? ChatGPT thinks so</a>
        </h3>
        <p class="article-desc">As I was packing up for a weekend away at the slopes, this question popped into my head. I didn’t know the answer, but it sounded interesting, and that’s a perfect recipe for ChatGPT.</p>
        <p class="article-meta">Greg Robleto  ·  Jan 22, 2023 · 6 min read</p>
    </div>
    <div class="article article-5">
        <a class="article-image" href="/blog/2023-01-03-accomplishments-on-sabbatical/"><img src="/img/blog/sabbatical.png" alt="15 Accomplishments in 15 Weeks of Sabbatical"/></a>
        <h3 class="article-title">
          <a href="/blog/2023-01-03-accomplishments-on-sabbatical/">15 Accomplishments in 15 Weeks of Sabbatical</a>
        </h3>
        <p class="article-desc">As the sabbatical comes to a close, I am looking back over what I made of these 15 weeks and realizing I was busy. Here are 15 things I am delighted to have accomplished in the 15 weeks away.</p>
        <p class="article-meta">Greg Robleto  ·  Jan 2, 2023 · 5 min read</p>
    </div>