

/*----------------------------------------
Articles
----------------------------------------*/


 .articles {
    padding-bottom: 3rem;

   .article {
    grid-column-start: 3;
    grid-column-end: 11;
     padding-top: 1.5rem;
     margin-top: 1rem;
     border-top: dotted 3px #888;
     text-align: left;
     display: grid;
     grid-template-columns: 3fr 1.5fr;
     grid-gap: 0rem 3rem;
     grid-template-areas: 
     "article-title article-image "
     "article-desc article-image"
     "article-meta article-image ";
     &:first-child {
       border-top: none;
       padding-top: 0;
       margin-top: 20px;
     }
   }
   .article-image {
     grid-area: article-image;
     img {
       border-radius: 10px;
     }
   }
   .article-title {
     font-size: 130%;
     line-height: 1.3;
     margin: 0;
     font-weight: 700;
     font-style: normal;
     grid-area: article-title;
   }
   .article-desc {
     font-size: 110%;
     font-size: 100%;
     margin: 0;
     line-height: 1.3;
     opacity: 0.8;
     grid-area: article-desc;
   }
   .article-meta {
     font-size: 80%;
     margin: 0;
     opacity: 0.6;
     grid-area: article-meta;
   }
 }
