

/*----------------------------------------
Navigation
----------------------------------------*/

header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 100vmin;
  margin: 0 auto;
}
h1.title {
  font-family: fave-script-pro, sans-serif;
  font-size: 20vmin;
  font-weight: 400;
  line-height: 1.15;
  margin: 2vmin 0 0 0;

  @media (min-width: 696px) {
    font-size: 20vmin;
  }
}
h2.subtitle {
    font-size: 3vmin;
    font-weight: 400;
    color: #888;
    margin: -2vmin 0 3vmin 0;
    max-inline-size: revert;
}
p {
    font-size: 2vmin;
    line-height: 2.0;
}