

/*----------------------------------------
Navigation
----------------------------------------*/

div.nav-container {
  display: flex;
  align-items:center;
  justify-content:center;
  width: 100vw;
  z-index: 999;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}   

// #home div.nav-container {
//   position: fixed;
//   z-index: 9999;
//   top: 0vh;
// }

nav {
  max-width: 1180px;
  margin: 0 auto;
  text-transform: uppercase;
  padding: 1rem 1rem 0rem;
  font-family: poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 130%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
    "center center"
    "left right";
  @media (min-width: 696px) {
    padding: 2rem 1rem 0rem;
    font-size: 100%;
    grid-template-columns: 1fr auto 1fr;
    grid-template-areas: 
    "left center right";
  }
  color: rgb(23, 23, 23);
  animation: nav 1s linear;
  @keyframes nav {
    to {
      color: rgb(255, 255, 255);
    }
  }

  .fal {
    display: none;                  
    @media (min-width: 696px) {
      display: inline;
      opacity: 0.8;
    }

  }
  .left {
    grid-area: left;
    align-self: center;
    justify-self: end;
    display: flex;
  }
  .right {
    grid-area: right;
    align-self: center;
    justify-self: start;
    display: flex;
  }
  .center {
    grid-area: center;
    align-self: center;
    justify-self: center;
    grid-column-end: span 2;
    @media (min-width: 696px) {
      grid-column-end: span 1;
    }
    img {
      width: 35px;            
      @media (min-width: 696px) {
        width: 55px;
        margin: 0px 20px;  
      }
    }
  }
  a {
    margin: 2px 10px;
    border-bottom: 1px dotted #c6c6c6;
    animation: nav 1s linear;
    @media (min-width: 696px) {
      margin: 0px 20px;
    }
    &:hover {
      color: #aaa;
      border-bottom: 2px solid #ddd;
    }
  }
  .left a:first-child {
    margin-left: 0;
  }
  .company-logo {
      align-self: flex-start;
      justify-self: center;
      grid-column-start: 1;
      grid-column-end: -1;
      grid-row-start: 2;
      grid-row-end: 3;
      .plus {
          font-family: bebas-neue, sans-serif;
          font-size: 300%;
          text-align: center;
          opacity: 0.5;
          font-weight: 300;
          margin: 0;
          padding: 2rem 0 0 0;
      }
      img {
          max-width: 300px;
      }
  }
}


