
/*----------------------------------------
Progress Bar
----------------------------------------*/

.progress {
  height: 10px;
  width: 0%;
  background-color: #000000;
  position: fixed;
  top: 0;
  left: 0;
  animation: progress 1s linear;
  animation-play-state: paused;
  /* Bind the animation to scroll */
  animation-delay: calc(var(--scroll) * -1s);
  /* These last 2 properites clean up overshoot weirdness */
  animation-iteration-count: 1;
  animation-fill-mode: both;
}


@keyframes progress {
  to {
    background-color: rgb(20, 255, 226);
    width: 100%;
  }
}