

/*----------------------------------------
Footer
----------------------------------------*/

footer {
  text-align:center
}
footer .copy-text {
 font-size:80%;
 line-height: 2.0;
 color:#888;
 padding: 4rem 0 2rem;
}
footer .copy-text a {
 border-bottom:dotted 1px #555
}
footer .copy-text a:hover {
 color:#222
}

