
.static-txt{
  font-family: mrs-eaves-xl-serif, sans-serif;
  margin-top: -5px;
  font-size: 80%;
  opacity: 0.6;
  display: block;
}
.text-typed{
  display: inline-flex;
}
.text-typed .dynamic-txts{
  height: 54px;
  color: #555;
  overflow: hidden;
  background: #f8f8f8;
}
.dynamic-txts li{
  list-style: none;
  font-family: mrs-eaves-xl-serif, sans-serif;
  color: #555;
  font-weight: 500;
  font-size: 42px;
  line-height: 42px;
  position: relative;
  top: 0;
  animation: slide 12s steps(4) infinite;
  padding-inline-start: 10px;
  text-align: center;
}
@keyframes slide {
  100%{
    top: -296px;
  }
}
.dynamic-txts li span{
  position: relative;
  margin: 5px 0;
  line-height: 71px;
  text-align: center;
}
.dynamic-txts li span::after{
  content: "";
  position: absolute;
  left: 0;
  height: 140%;
  width: 100%;
  background: #f8f8f8;
  border-left: 2px solid #555;
  animation: typing 3s steps(10) infinite;
}
@keyframes typing {
  40%, 60%{
    left: calc(100% + 30px);
  }
  100%{
    left: 0;
  }
}