@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap');

@tailwind base;

body {
  font-family: 'nunito', Arial, Helvetica, sans-serif;
  background: linear-gradient(180deg, #000 0%, #201A59 62.09%);
  background-repeat: no-repeat;
  background-size: cover; 
  min-height: 100vh; 
}
main {
  background-image: url('/home/bg-wave-home.png'); 
  background-position: top 100px center; /* Position the image 100px down */
  background-size: 100% auto; /* Span the full width */
}

.font-oswald {
  font-family: 'Oswald', sans-serif;
}
