/*----------------------------------------
About Page
----------------------------------------*/

body.about main .about-panel {
  grid-column: 1 / -1;
  display: grid;
  margin-bottom: 3rem;
  align-items: center;
  grid-gap: 1rem;
  grid-template-areas: 
    "about-image" 
    "about-desc";
  grid-template-columns: 1fr;

  @media (min-width: 626px) { 
    grid-column: 3 / -3;
    grid-gap: 2rem;
    grid-template-areas: "about-image about-desc";
    grid-template-columns: 1fr 2fr;

    &:nth-of-type(even) {
      grid-template-areas: "about-desc about-image";
      grid-template-columns: 2fr 1fr;
    }  

    &:first-child {
      grid-column: 2 / -2;
      grid-template-columns: 2.5fr 3fr;
      p {
        @include fluid(2.0rem, 1.5);
        font-weight: 600;
      }
    }
  }


  &:first-child p {
    font-weight: 600;
  }

  img {
    grid-area: about-image;
    border-radius: 10px;
    aspect-ratio: 1;
    object-fit: cover;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  p {
    padding-top: 0;
    margin-top: 0;
    grid-area: about-desc;
    text-align: left;
  }

  

}

