html.home {
  min-height: 500vh;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
}

body.home {

  section {
    height: 100vh;
    max-width: inherit;
    width: 100vw;
    scroll-snap-align: start;
    display: grid;
    grid-template-columns: [first] repeat(12, 1fr) [end];
    grid-template-rows: [first] repeat(12, 1fr) [end];
    grid-auto-rows: minmax(20px, auto);
    grid-gap: 1rem;
    overflow: hidden;
  }




/*----------------------------------------
Overview Section
----------------------------------------*/
  
  .overview-elements {
    position: relative;
    grid-column: 2 / -2;
    grid-row: 2 / 5;
    @media (min-width: 626px) {  
      grid-row: 2 / 6;
    }
    @media (min-width: 826px) {  
      grid-column: 2 / 8;
      grid-row: 3 / 8;
    }
  }

  .overview-elements {
    display: grid;
    grid-template-columns: [first] repeat(10, 1fr) [end];
    grid-template-rows: [first] repeat(8, 1fr) [end];
    grid-auto-rows: minmax(20px, auto);
    grid-gap: .25rem;
    justify-items: left;
    align-items: top;
    min-width: 20vmin;
    position: relative;
  }

h1.greg {
  @include fluid(8rem, 1.1);
  grid-column: 1 / -1;
  grid-row: 1 / 6;
  line-height: 1.1;
  white-space: nowrap;
  font-size: 20vmin;
}
.isa {
  @include fluid(1.6rem, 1.5);
  grid-column: 2 /4;
  grid-row: 4 / 5;
  align-self: end;
  display: inline-block;
}
.title {
  grid-column: 1 / -1;
  grid-row: 5 / 7;
  z-index: 999;
  display: inline-block;
}

.location {
  @include fluid(1.8rem, 1.5);
  grid-column: 1 / 9;
  grid-row: 7 / -1;
  opacity: 0.6;
  z-index: 9999;
  display: inline-block;
  @media (min-width: 600px) {
    grid-column: 1 / 7;
  }  
  @media (min-width: 1000px) {  
    grid-column: 1 / -1;
  }

  img.maryland {
    display: none;
    @media (min-width: 696px) {
      height: 30px;
      display: inline;
      margin-bottom: -12px;
    }
  }

}

  .typewriter-text {
    font-family: poppins, sans-serif;
    color: #484848;
    font-weight: 600;
    font-size: 7.5vmin;
    white-space: nowrap;
    position: relative;
    top: 0;
    padding-inline-start: 10px;
    text-align: left;
    @media (min-width: 696px) {
      font-size: 7.5vmin;
      line-height: 8.4rem;
    }
  }
  .cursorSize {
    color: lighten($gray, 50%);
    font-weight: 100;
  }


/*----------------------------------------
Shared Items
----------------------------------------*/
    .elements {
      grid-column: 1 / -1;
      grid-row: 3 / -1;
      display: grid; 
      grid-template-columns: [first] repeat(2, 1fr) [end];
      grid-template-rows: [first] repeat(3, .25fr) [end];
      //grid-auto-rows: minmax(20px, auto);
      grid-gap: 1rem;
        
      @media (min-width: 826px) {  
        grid-column: 2 / -2;
        grid-row: 3 / -3;
        grid-template-columns: [first] repeat(3, 1fr) [end];
        grid-template-rows: [first] repeat(3, 1fr) [end];
        grid-auto-rows: minmax(20px, auto);
        grid-gap: 2rem;
        display: grid;
      }
    }

   h2 {
      grid-column: 1 / -1;
      grid-row: 1 / 3;
      justify-self: center;
      align-self: center;
      margin: 0;
      padding: 0;
    }



/*----------------------------------------
About Section
----------------------------------------*/
.about_img {
  grid-column: 1 / -1;
  grid-row: 3 / 5;
  height: 100%;
  align-self: start;
  justify-self: center;
  @media (min-width: 826px) { 
    grid-column: 2 / 5;
    grid-row: 3 / 7;
    height: auto;
    width: 90%;
  }
}
.about_content {
  grid-column: 1 / -1;
  grid-row: 5 / -1;
  text-align: left;
  @media (min-width: 826px) { 
    grid-column: 5 / -2;
    grid-row: 3 / -1;
  }

}


/*----------------------------------------
Skills Section
----------------------------------------*/


.elements.skills-stat-elements {
      grid-row: 8 / -1;
      grid-template-columns: 1fr;
      @media (min-width: 826px) { 
        grid-row: 10 / -1;
        grid-template-columns: [first] repeat(3, 1fr) [end];
        
      }
    }

.stat-card {
    h3 {
      @include fluid(1.8rem, 1.5);
      font-weight: 400;
      white-space: nowrap;
    }
    h2 {
      @include fluid(4rem, 1.5);
      grid-area: card-desc;
    }
}



/*----------------------------------------
Contact Section
----------------------------------------*/
 .contact-info {
    grid-column: 2 / -2;
    grid-row: 3 / 6;
    display: flex;
    flex-direction: column;
    grid-gap: 3rem;
    @media (min-width: 826px) { 
        grid-column: 2 / 6;
        grid-row: 3 / -2;
    }
 }

 .contact-content {
      grid-column: 6 / -2;
      grid-row: 3 / -2;
      align-self: start;
      margin: 0;
      padding: 0;
      text-align: left;
    }

  
    .contact-card {
        grid-template-columns: 1fr 5fr;
          img {
            
          }
          h3 {
            align-self: center;
            font-size: 200%;
            @media (min-width: 826px) {
              font-size: 24px;
            }
          }
          p {
            margin: 0;
            padding: 0;
            text-align: left;
            font-size: 130%;
            line-height: 1.3;
            grid-area: card-desc;
            @media (min-width: 1026px) {
              font-size: 24px;
            }
          }
        }


      .contact-section {
        .coffee {
          grid-column: 1 /4;
          grid-row: 4 /5;
          justify-self: left;
          align-self: start;
          margin-left: -15vw;
          z-index: 10;
          @media (min-width: 696px) {
            grid-column: 1 /3;
            grid-row: 5 / 8;
          }
          img {
            animation-delay: 2s
          }
        }
      }





/*----------------------------------------
Decorations
----------------------------------------*/

    .macbook {
      grid-column: 4 / -1;
      grid-row: 3 / -1;
      justify-self: right;
      align-self: end;
      margin-bottom: 0vh;
      margin-right: -10vw;
      max-height: 90vh;
      z-index: 20;
      @media (min-width: 556px) {
        grid-column-start: 6;
      }
      @media (min-width: 696px) {
        grid-column-start: 6;
      }
      @media (min-width: 856px) {
        grid-column-start: 8;
        grid-row-start: 7;
      }
      @media (min-width: 1126px) {
        grid-column-start: 7;
        grid-row-start: 7;
      }
      img {
        animation-delay: .5s
      }
    }
    .arms {
      grid-column: 3 / -1;
      grid-row: 9 / -1;
      justify-self: right;
      align-self: end;
      z-index: 30;
      @media (min-width: 556px) {
        grid-column-start: 7;
      }
      @media (min-width: 696px) {
        grid-column-start: 6;
      }
      @media (min-width: 856px) {
        grid-column-start: 7;
      }
      @media (min-width: 1126px) {
        grid-column-start: 7;
      }
      img {
        animation-delay: 1.5s
      }
    }

    .coffee {
      grid-column: 1 /4;
      grid-row: 5 /-1;
      justify-self: left;
      align-self: start;
      margin-left: -15vw;
      z-index: 10;
      @media (min-width: 696px) {
        margin-left: -10vw;
        grid-column: 1 /3;
        grid-row: 8 / -1;
      }
      img {
        animation-delay: 2s
      }
    }
    .phone {
      grid-column: 2 / 5;
      grid-row: 8 / -1;
      justify-self: left;
      align-self: start;
      margin-bottom: -35vh;
      margin-left: -15vw;
      z-index: 20;

      @media (min-width: 556px) {
      }
      @media (min-width: 696px) {
        grid-column: 3 / 7;
        grid-row: 9 / -1;
        margin-left: 0vmin;
        margin-top: -5vmin;
      }
      @media (min-width: 856px) {
        grid-row: 10 / -1;
        margin-top: 0vmin;
      }
      @media (min-width: 1126px) {
        grid-column: 3 / 7;
        grid-row: 9 / -1;
        margin-left: 0vmin;
      }
      img {
        animation-delay: 1.5s
      }
    }

    .pen {
      grid-column: 1 / 4;
      grid-row: 11 / -1;
      justify-self: left;
      align-self: start;
      margin-bottom: 22vh;
      z-index: 40;
      margin-left: -9vw;
      max-height: 15vh;
      margin-top: -10vh;
      @media (min-width: 696px) {
        grid-column: 3 /5;
        grid-row: 8 / -1;
        justify-self: center;
        align-self: start;
        margin-bottom: -25vh;
        margin-left: -10vw;
        max-height: auto;
        margin-top: 10vh;
      }
      img {
        animation-delay: 1.25s
      }
    }

    .notebook {
      grid-column: 1 /6;
      grid-row: 8 /-1;
      justify-self: left;
      align-self: start;
      margin-bottom: -35vh;
      margin-left: -15vw;
      z-index: 10;
      @media (min-width: 696px) {
        grid-column: 2 / 7;
        grid-row: 8 / -1;
        margin-left: 0vw;
      }
      img {
        animation-delay: 1s
      }
    }







}

