// html.home {
//   min-height: 500vh;
//   scroll-snap-points-y: repeat(100vh);
//   scroll-snap-type: y mandatory;
// }

body.home {


  .grid {

    display: grid;
    grid-template-columns: [first] repeat(1, 1fr) [end];
    grid-template-rows: [first] 100vh 60vw 1fr 45vw 1fr 40vw 1fr 5vw 1fr [end];
    //grid-gap: 60vw;
    overflow-x: hidden;
    overflow-y: visible;
    position: relative;
    // @media (min-width: 900px) { 
    //   grid-gap: 50vw;
    // }
  }

  section {
    height: 75vw;
    width: 100vw;
    display: grid;
    grid-template-columns: [first] repeat(18, 1fr) [end];
    grid-template-rows: [first] repeat(18, 1fr) [end];
    grid-gap: 1vw;
    position: relative;
  }




/*----------------------------------------
Overview Section
----------------------------------------*/
  
#overview {
    height: 100vh;
}
 
.overview-elements {
    position: relative;
    grid-column: 3 / -3;
    grid-row: 3 / 7;
    @media (min-width: 1100px) { 
      grid-column: 2 / 9; 
      grid-row: 7 / 12;
    }
  }

  .overview-elements {
    display: grid;
    grid-template-columns: [first] 100% [end];
    grid-template-rows: [first] repeat(4, 8vw) [end];
    //grid-auto-rows: minmax(20px, auto);
    grid-gap: .25vw;
    justify-items: left;
    position: relative;
    @media (min-width: 728px)  {
      grid-template-rows: [first] repeat(4, 5vw) [end];
    }
  }

h1.greg {
  @include fluid(18vw, 1.1);
  grid-column: 1 / -1;
  grid-row: 1 / 3;
  z-index: 9999;
  margin-top: -5vw;
  line-height: 1.1;
  white-space: nowrap;
  @media (min-width: 728px)  {
    @include fluid(12vw, 1.1);
  }
}
.isa {
  @include fluid(1.8vw, 1.5);
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  align-self: end;
  opacity: 0.6;
  justify-self: start;
  padding-left: 7vw;
  margin-bottom: -1vw;
  display: inline-block;
}
.title {
  grid-column: 1 / -1;
  grid-row: 3 / 4;
  z-index: 999;
  display: inline-block;
}

.location {
  @include fluid(3vw, 1.5);
  grid-column: 1 / -1;
  grid-row: 4 / -1;
  opacity: 0.6;
  align-self: center;
  margin-top: 7vw;
  z-index: 9999;
  display: inline-block;
  @media (min-width: 728px)  {    
    @include fluid(1.4vw, 1.5);
    margin-top: 1vw;  
  }

  img.maryland {
      display: inline;
      height: 5vw;
      margin-bottom: -1.5vw;
      @media (min-width: 600px) {
      height: 2.5vw;
      margin-bottom: -1vw;
    }
  }

}

  .typewriter-text {
    font-family: inter, sans-serif;
    color: #407673;
    font-weight: 900;
    @include fluid(9vw, 1.5);
    white-space: nowrap;
    position: relative;
    letter-spacing: -0.25vw;
    padding-inline-start: -1vw;
    text-align: left;
    @media (min-width: 728px)  {
      @include fluid(5vw, 1.1);
    }
  }
  .cursorSize {
    color: lighten($gray, 50%);
    font-weight: 300;
  }


/*----------------------------------------
Shared Items
----------------------------------------*/
    .elements {
      grid-column: 1 / -1;
      grid-row: 3 / -1;
      display: grid; 
      grid-template-columns: [first] repeat(2, 1fr) [end];
      grid-template-rows: [first] repeat(3, .25fr) [end];
      //grid-auto-rows: minmax(20px, auto);
      grid-gap: 1rem;
        
      @media (min-width: 826px) {  
        grid-column: 2 / -2;
        grid-row: 3 / -3;
        grid-template-columns: [first] repeat(3, 1fr) [end];
        grid-template-rows: [first] repeat(3, 1fr) [end];
        grid-auto-rows: minmax(20px, auto);
        grid-gap: 2rem;
        display: grid;
      }
    }

   h2 {
      grid-column: 1 / -1;
      grid-row: 1 / 3;
      justify-self: center;
      align-self: center;
      margin: 0;
      padding: 0;
    }



/*----------------------------------------
About Section
----------------------------------------*/
.about_img {
  grid-column: 1 / -1;
  grid-row: 3 / 5;
  height: 100%;
  align-self: start;
  justify-self: center;
  @media (min-width: 826px) { 
    grid-column: 2 / 5;
    grid-row: 3 / 7;
    height: auto;
    width: 90%;
  }
}
.about_content {
  grid-column: 1 / -1;
  grid-row: 5 / -1;
  text-align: left;
  @media (min-width: 826px) { 
    grid-column: 5 / -2;
    grid-row: 3 / -1;
  }

}


/*----------------------------------------
Skills Section
----------------------------------------*/


.elements.skills-stat-elements {
      grid-row: 8 / -1;
      grid-template-columns: 1fr;
      @media (min-width: 826px) { 
        grid-row: 10 / -1;
        grid-template-columns: [first] repeat(3, 1fr) [end];
        
      }
    }

.stat-card {
    h3 {
      @include fluid(1.8rem, 1.5);
      font-weight: 400;
      white-space: nowrap;
    }
    h2 {
      @include fluid(4rem, 1.5);
      grid-area: card-desc;
    }
}



/*----------------------------------------
Contact Section
----------------------------------------*/
 .contact-info {
    grid-column: 2 / -2;
    grid-row: 3 / 6;
    display: flex;
    flex-direction: column;
    grid-gap: 3rem;
    @media (min-width: 826px) { 
        grid-column: 2 / 6;
        grid-row: 3 / -2;
    }
 }

 .contact-content {
      grid-column: 6 / -2;
      grid-row: 3 / -2;
      align-self: start;
      margin: 0;
      padding: 0;
      text-align: left;
    }

  
    .contact-card {
        grid-template-columns: 1fr 5fr;
          img {
            
          }
          h3 {
            align-self: center;
            font-size: 200%;
            @media (min-width: 826px) {
              font-size: 24px;
            }
          }
          p {
            margin: 0;
            padding: 0;
            text-align: left;
            font-size: 130%;
            line-height: 1.3;
            grid-area: card-desc;
            @media (min-width: 1026px) {
              font-size: 24px;
            }
          }
        }


      .contact-section {
        .coffee {
          grid-column: 1 /4;
          grid-row: 4 /5;
          justify-self: left;
          align-self: start;
          margin-left: -15vw;
          z-index: 10;
          @media (min-width: 696px) {
            grid-column: 1 /3;
            grid-row: 5 / 8;
          }
          img {
            animation-delay: 2s
          }
        }
      }





/*----------------------------------------
Decorations
----------------------------------------*/

    .macbook {
        grid-column: 6/-1;
        grid-row: 9/13;
        margin-bottom: 0vmin;
        transform: rotate(-90deg);
        transform-origin: center center;
        justify-self: end;
        align-self: center;
      @media (min-width: 530px) {    
        grid-column: 8/-1;
        grid-row: 6/13;
        margin-bottom: -50vmin;
      }
      @media (min-width: 900px) {    
        grid-column: 8/-1;
        grid-row: 6/13;
        margin-bottom: -50vmin;
      }
      @media (min-width: 1100px) {        
        grid-column: 11/-1;
        grid-row: 3/13;
        margin-bottom: -20vmin;
      }
      img {
        animation-delay: .5s
      }
    }
    .arms {
        z-index: 60;
        grid-column: 9/-1;
        grid-row: 9/13;
        margin-right: -12vmin;
        justify-self: end;
        align-self: center;
        transform: rotate(-90deg);
        transform-origin: center center;
        margin-right: -25vw;
      @media (min-width: 530px) { 
        grid-column: 9/-1;
        grid-row: 8/18;
        margin-right: -25vmin;
      }
      @media (min-width: 900px) { 
        grid-column: 9/-1;
        grid-row: 12/18;
        margin-right: -30vmin;
      }
      @media (min-width: 1100px) {    
        grid-column: 12/-1;
        grid-row: 8/14;
        margin-bottom: 0vmin;    
        margin-right: -20vmin;
      }
      // @media (min-width: 1126px) {
      //   grid-column-start: 9;
      // }
      img {
        animation-delay: 1.5s
      }
    }

    .coffee { 
        grid-row: 14/18;
  align-self: end;
  grid-column: 5/9;
  justify-self: center;
  margin-bottom: 0vmin;
      @media (min-width: 530px) { 
            grid-column: 6/10;
    grid-row: 14/18;
    margin-bottom: -30vmin;
      }
      @media (min-width: 900px) {  
        grid-column: 3/7;
        grid-row: 7/-1; 
        margin-bottom: -15vmin;
      }
      @media (min-width: 1100px) {  
        grid-column: 7/10;
        grid-row: 7/-1; 
        margin-bottom: -5vmin;
      }
      @media (min-width: 530px) and (max-width: 800px)  and (orientation: landscape) {
        grid-column: 1 / 4;
        grid-row: 12 / -1;
      }

      img {
        animation-delay: 2s
      }
    }
    .phone {
        grid-column: 11/14;
        grid-row: 15/17;
      z-index: 20;
      transform: rotate(-112deg);
      transform-origin: center center;
      @media (min-width: 530px) {
        grid-column: 1/4;
    grid-row: 16/-1;
    margin-bottom: 5vh;
      }
      @media (min-width: 900px) {
        grid-column: 14 / 17;
        grid-row: 16 / -1;   
        margin-bottom: -55vh;
      }
      @media (min-width: 1100px) {    
        grid-column: 14/17;
        grid-row: 12/-1;
        margin-bottom: -25vh;
      }
      @media (min-width: 530px) and (max-width: 800px)  and (orientation: landscape) {
        grid-column: 9 / 6;
        grid-row: 13 / -1;
      }
      img {
        animation-delay: 1.5s
      }
    }

    .pen {  
      grid-column: 11/12;
      grid-row: 17/-1;
      z-index: 40;
      transform: rotate(-112deg);
      @media (min-width: 530px) {      grid-column: 3/5;
    grid-row: 4/6;
    margin-bottom: -50vh;
    margin-right: -1vh;
      }
      @media (min-width: 900px) {      
            grid-column: 3/7;
    grid-row: 2/4;
    margin-bottom: -50vh;
    margin-right: -6vh;
      }
      transform-origin: center center;
      @media (min-width: 1100px) {    
        grid-column: 12/-1;
        grid-row: 17/-1;
        grid-row-start: 17;
        grid-row-end: -1;    
        margin-bottom: -15vh;
        margin-right: 15vmin;
      }
      @media (min-width: 530px) and (max-width: 800px)  and (orientation: landscape) {
        grid-column: 5 / 6;
        grid-row: 12 / -1;
      }
      img {
        animation-delay: 1.25s
      }
    }

    .notebook {
grid-column: 11/16;
  grid-row: 17/-1;
  z-index: 10;
  transform: rotate(-105deg);
  transform-origin: center center;
  margin-bottom: -10vw;
      @media (min-width: 530px) {     
            grid-column: 3/7;
    grid-row: 5/8;
    margin-bottom: -50vh;
    margin-right: -6vh;
      }
      @media (min-width: 900px) {      
            grid-column: 3/7;
    grid-row: 6/9;
    margin-bottom: -50vh;
    margin-right: -6vh;
      }
      @media (min-width: 1100px) {     
        grid-column: 13/-1;
        grid-row: 17/-1;
        margin-bottom: -45vh;
        margin-right: -10vh;
      }

      img {
        animation-delay: 1s
      }
    }


    .folio {  
      transform: scale(1.15) rotate(145deg);
      grid-column: 1/7;
      grid-row: 1/10;
      margin-left: -35vw;
      transform-origin: center center;
      z-index: 50;
    }

    #portfolio h2 {
        grid-column: 11/17;
        grid-row: 3/5;
        color: #407673;
        letter-spacing: -0.5vw;
        @include fluid(10vw, 1.15);
    }

    #portfolio .port-9tax {
      transform: scale(1) rotate(135deg);
      grid-column: 1/8;
      grid-row: 4/11;
      margin-left: -15vw;
      transform-origin: center center;
      z-index: 40;
    }

    #portfolio .port-siteredesign {
      transform: scale(1.05) rotate(5deg);  
      transform-origin: center center;
      z-index: 20;
      grid-column: 4/15;  
      grid-row: 6/13;
      margin-left: -5vw;
      margin-right: -5vw;
      @media (min-width: 900px) { 
        margin-left: -0vw;
        margin-right: -0vw;
      }

    }

    #portfolio .port-designteam {
      transform: scale(1.05) rotate(-10deg);  
      transform-origin: center center;
      z-index: 10;
      grid-column: 4/15;  
      grid-row: 6/13;
      padding-top: 45vw;
      padding-left: 20vw;
      margin-right: -15vw;
      margin-left: -10vw;
      @media (min-width: 900px) { 
        padding-top: 35vw;
        margin-left: -0vw;
        margin-right: -15vw;
      }
    }

    #portfolio .port-designsys { 
      transform: scale(1.05) rotate(10deg);
      transform-origin: center center;
      grid-column: 4/15;  
      grid-row: 6/13;
      padding-top: 55vw;
      padding-right: 30vw;
      margin-left: -20vw;
      margin-right: -10vw;
      @media (min-width: 900px) { 
        padding-top: 45vw;
        padding-right: 20vw;
        margin-right: -0vw;
        margin-left: -15vw;
      }
    }

    #portfolio blockquote {  
      display: none;
      @media (min-width: 1100px) { 
        display: block;
        grid-column: 11/-1;
        grid-row: 16/-1;
        padding-top: 35vw;
        @include fluid(1vw, 1.15);
      }
    }


    /*** THOUGHTS ***/

    #thoughts h2 {
        grid-column: 3/10;
        grid-row: 2/5;
        color: #407673;
        letter-spacing: -0.5vw;
        @include fluid(10vw, 1.15);
    }

    .magazine {  
      transform: scale(1) rotate(-5deg);
      grid-column: 2/17;
      grid-row: 7/10;
      transform-origin: center center;
      z-index: 20;
      margin-top: -2vw;
      margin-left: -10vw;
      margin-right: -10vw;
      @media (min-width: 600px) { 
        margin-top: -7vw;
        margin-left: -10vw;
        margin-right: -10vw;
        }
      @media (min-width: 900px) { 
        margin-top: -7vw;
        margin-left: -0vw;
        margin-right: -0vw;
        }
    }

    #thoughts .article {
          border: none;
          font-family: inter, sans-serif;
          z-index: 30;
          grid-template-columns: 1fr;
          grid-template-areas:
          "article-image" 
          "article-title" 
          "article-meta"
          "article-desc";
    }

    #thoughts .article-image img {
        aspect-ratio: 16 / 9;
        border-radius: .5vw;
    }
    #thoughts h3 {
      @include fluid(1vw, 1.15);
      line-height: 1.15;
    }

    #thoughts .article-meta {
      @include fluid(0.5vw, 1);
    }
    #thoughts .article-desc { 
      display: none;
      @media (min-width: 1100px) { 
        display: block;
        @include fluid(0.5vw, 1.3);
      }
    }


    #thoughts .article-1 {
          transform: skew(-2deg, -2deg) rotate(-8deg);
            grid-column: 3/9;
            grid-row: 7/16;
            justify-self: start;
            align-self: start;  
            margin-right: 3vw;
            font-size: 115%;
            margin-left: -7.5vw;
            margin-right: 1vw;
            @media (min-width: 900px) { 
              margin-left: -0vw;
              margin-right: -0vw;
            }

           h3 {
              @include fluid(2.25vw, 1.15);
              line-height: 1.15;
            }
            .article-meta { 
              display: block;
              @include fluid(1vw, 1.15);
            }
            .article-desc { 
              display: block;
              padding-top: 1vw;
              @include fluid(1.25vw, 1.3);
            }
    }

    #thoughts .article-2 {
          transform: skew(3deg, 2deg) rotate(-4deg);
          grid-column: 10/13;
          grid-row: 6/11;
          justify-self: start;
            align-self: start;
            margin-left: 4vw;
            margin-right: -7vw;
            @media (min-width: 900px) { 
              margin-left: -0vw;
              margin-right: -0vw;
            }
    }

    #thoughts .article-3 {
          transform: skew(3deg, 5deg) rotate(-4deg);
          grid-column: 13/16;
          grid-row: 6/11;  
          justify-self: end;
            align-self: start;
            margin-left: 8vw;
            margin-right: -10vw;
            @media (min-width: 900px) { 
              margin-left: -0vw;
              margin-right: -0vw;
            }
    }
    #thoughts .article-4 {
          transform: skew(5deg, 2deg) rotate(-4deg);
          grid-column: 11/13;
          grid-row: 6/11;
          justify-self: end;
          align-self: start;
          margin-top: 25vw;
            margin-left: 2vw;
            margin-right: -9vw;
            @media (min-width: 900px) { 
              margin-left: -2vw;
              margin-right: -3vw;
            }
    }
        #thoughts .article-5 {
          transform: skew(5deg, 4deg) rotate(-4deg);
          grid-column: 14/16;
            grid-row: 6/11;
            justify-self: end;
            align-self: start;
            margin-top: 25vw;
            margin-left: 5vw;
            margin-right: -12vw;
            @media (min-width: 900px) { 
              margin-left: -2vw;
              margin-right: -3vw;
            }
    }


    #projects h2 {
        grid-column: 6/17;
        grid-row: 1/3;
        color: #407673;
        letter-spacing: -0.5vw;
        @include fluid(10vw, 1.15);
    }

    #projects .crumple-1 {
        transform: scale(1) rotate(-5deg);
        grid-column: 12/18;
        grid-row: 1/3;
        margin-top: -20vw;
    }
    #projects .crumple-2 {
        grid-column: 6/9;
        grid-row: 1/3;
        margin-top: -15vw;
    }
    #projects .crumple-3 {
grid-column: 8/11;
  grid-row: 14/18;  
  margin-top: 20vw;
  margin-right: -5vw;
    }
    #projects .crumple-4 {
        transform: scale(1) rotate(-35deg);
        grid-column: 1/6;
        grid-row: 7/10;
        margin-top: -50vw;
    }

    #projects .crumple-5 {
transform: scale(1) rotate(25deg);
  grid-column: 14/18;
  grid-row: 17/18;
  margin-right: -20vw;
    }

    #projects .napkin-FastCon {
transform: scale(0.9) rotate(-15deg);
  transform-origin: center center;
  z-index: 20;
  grid-column: 3/8;
  grid-row: 3/8;
    }
    #projects .napkin-ChristmasCard {
      transform: scale(0.9) rotate(10deg);
      transform-origin: center center;
      z-index: 20;
      grid-column: 1/5;
      grid-row: 1/4;
      margin-top: -10vw;
    }
    #projects .napkin-LauraandDean {
transform: scale(0.9) rotate(-5deg);
  transform-origin: center center;
  z-index: 20;
  grid-column: 4/9;
  grid-row: 12/18;
    }
    #projects .napkin-Palindrome {
transform: scale(0.9) rotate(10deg);
  transform-origin: center center;
  z-index: 20;
  grid-column: 1/5;
  grid-row: 15/18;
  margin-left: -5vw;
    }
    #projects .napkin-AFewLifeNotes {
transform: scale(0.9) rotate(5deg);
  transform-origin: center center;
  z-index: 20;
  grid-column: 1/5;
  grid-row: 7/13;
  margin-left: -7vw;
    }

    #projects .word-CSSArt {
      grid-row: 7/13;
      grid-column: 9/-1;
      transform: scale(1) rotate(2deg);
      transform-origin: bottom center;
      z-index: 60;
      width: 45vw;
    }
    #projects .campervan {
      grid-row: 7/13;
      grid-column: 9/-1;
      transform: scale(1) rotate(2deg);
      transform-origin: bottom center;
      z-index: 60;
      width: 45vw;
    }
    #projects .notebook {
grid-row: 7/13;
  margin-right: 0vw;
  grid-column: 9/-1;
  transform: scale(1.15) rotate(2deg);
      transform-origin: bottom center;
      z-index: 50;
      margin-bottom: 0vw;
      width: 45vw;
      margin-top: -5vw;
    }
    #projects .pen  {
margin-bottom: -15vw;
  margin-right: 15vw;
  grid-column: 14/18;
  grid-row: 17/18;
  transform: scale(1) rotate(115deg);
  }



    #about h2 {
        grid-column: 3/10;
        grid-row: 2/5;
        color: #407673;
        letter-spacing: -0.5vw;
        @include fluid(10vw, 1.15);
    }



    #about .polaroids {  
      transform: rotate(4deg);
      grid-column: 3/10;  
      grid-row: 6/13;
    }

    #about .about-text {  
      grid-column: 11/17;  
      grid-row: 6/17;
      p {
        @include fluid(1.4vw, 1.15);
      }
    }
}

