
/*----------------------------------------
Portfolio Section
----------------------------------------*/

body#portfolio main  {

  .portfolio-overview {
    grid-column: 2 / -2;
    padding: 2rem;
    margin: 0 auto;
    line-height: 1.5;
  }

    h2 {
      grid-column: 3 / -3;
      margin: 0 auto;
    }

    .portfolio-panel {
      grid-column: 3 / -3;
      padding: 0;
      place-items: center;
      justify-items: center;
      margin-bottom: 1.5rem;
      margin-top: 0rem;
      border-bottom: dotted 3px #888;
      display: grid;
      grid-gap: 0rem 3rem;
      padding-bottom: 3rem;
      

      img {
        grid-area: port-image;
        border-radius: 10px;
        aspect-ratio: 1;
        object-fit: cover;
        animation: scale-in both linear;
        view-timeline: --in;
        animation-timeline: --in;
        animation-delay: enter 0%;
        animation-end-delay: cover 50%;
        scroll-snap-align: center;
      }
      figcaption {
        text-align: left;
        grid-area: port-desc;
      }
      h4 {
        @include fluid(1.0rem, 1.15);
        font-weight: normal;
        opacity: 0.5;
        margin: 0;
      }
      h3 {
        margin: 0.5rem 0;
      }
      small {
        display: inline-block;
        margin: 0.25rem 0 1.5rem;
      }
    }
    :nth-of-type(odd) {
      grid-template-areas: "port-desc port-image";
      grid-template-columns: 1.5fr 3fr;
      }
    :nth-of-type(even) {
      grid-template-areas: "port-image port-desc";
      grid-template-columns: 3fr 1.5fr;
      }

}