body.post,
body.case-study {

    div.container {
        max-width: 1440px;
    }
    
    main {
        margin-top: clamp(1rem, -2vw + 3rem, 2.75rem);
        padding: clamp(1rem, -2vw + 3rem, 2.75rem);
        background-color: #fff;
        border: solid 5px #fff;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    }



    div.article-header {
        grid-column: 1 / -1;
        padding: 1rem .5rem;
        @media (min-width: 826px) { 
            padding: 5rem 5rem;
            grid-column: 1 / 5;
            margin-top: 12rem;
        }
        .meta-top {
            display: flex;
            justify-content: space-between;
            border-top: 1px solid rgba(0,0,0,.2);
            padding: 1.25rem 0 1rem;
        }
        .tags, .date {
            text-transform: uppercase;
            font-size: 90%;
        }
        h2.article-title{
            font-size: clamp(2.75rem, 2vw + 1.25rem, 4rem);
            
        }
        h5.article-subtitle{
            font-size: clamp(1.375rem, 1vw + 1rem, 2rem);
            font-weight: 300;
        }
    }


    img.primary-image {
        grid-column: 1 / -1;
        width: 100%;
        background-color: #fff;
        @media (min-width: 826px) { 
        grid-column: 5 / -1;
        }
    }

    article.main-article {
        grid-column: 1 / -1;
        padding: 1rem .5rem;
        @media (min-width: 826px) { 
            padding: 5rem 5rem;
            grid-column: 5 / -1;
        }
        p, li {
            font-size: clamp(1.25rem, 1vw + 1.25rem, 2rem);
            font-family: lora, serif;
            line-height: 1.5;
            padding-bottom: 1rem;
        }
        ul {
            list-style: disc;
        }
        h3 {
            font-size: clamp(1.25rem, 3vw + 1rem, 3.5rem);
            line-height: 1.3;
        }
        h4 {
            font-size: clamp(1.25rem, 1vw + 1rem, 2.75rem);
            line-height: 1.3;
            
        }
        h4 + p {
            margin-top: 0.5rem;
        }

        hr {
            margin-top: clamp(2.75rem, 3vw + 1rem, 8rem);
            margin-bottom: clamp(2.75rem, 3vw + 1rem, 8rem);
            width: 50vmin;
            border: none;
            border-bottom: solid 1px #ddd;
        }
        code {
            font-size: 90%;
            background-color: #eee;
        }
    }
}