body#post {
    
    article.main-article {
        background-color: #fff;
        border: solid 5px #fff;
        padding: 1rem .5rem;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        @media (min-width: 826px) { 
            padding: 5rem 5rem;
        }

    hr {
        margin: 8rem auto;
        width: 50vmin;
        border: none;
        border-bottom: solid 1px #ddd;
    }

    }
}