<!DOCTYPE html>
<html lang="en" class="{{ pageID }}">
<head>
  {% include "partials/_meta.njk" %}

   <!-- I wrote this one -->
  <link rel="stylesheet" href="/css/style.css">

  <title>{{title}} | Greg Robleto – Product / Design / Technology </title>
  <meta name="description" content="{{ pagedesc }}">

  <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  
</head>
<body class="{{ pageID }}">

  {{ content | safe }}


  <script src="https://kit.fontawesome.com/ca070a0a98.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/TypewriterJS/2.19.0/core.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>
  {% include "partials/_scripts.njk" %}


    {# Netlify Identity Widget #}
    <script>
    if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
        if (!user) {
            window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
            });
        }
        });
    }
    </script>

</body>
</html>