---
layout: layouts/base.njk
---

  <!-- Progress Bar -->
  <div class="progress"></div>

  <!-- Navigation -->
  {% include "partials/_nav.njk" %}

  <div class="container">

    <!-- Primary Content -->
  <main>
        <div class="article-header">
          <div class="meta-top">
            <span class="tags">{{ tags | join(" ") }}</span>
            <span class="date">{{ date | postDate  }}</span>
          </div>
        
          <h2 class="article-title">
            {{ title }}
          </h2>
          <h5 class="article-subtitle">
            {{ lede }}
         </h5>
         <p> by <strong>{{ author }}</strong></p>

        {% include "partials/_social_list.njk" %}

      </div>
      <article class="main-article">
        <img src="{{ image }}" alt="{{ imageAlt }}" class="primary-image">
          {{ content | safe }}
      </article>
  </main>

  </div>
  
  <!-- Footer -->
  {% include "partials/_footer.njk" %}
  {% include "partials/_scripts.njk" %}