---
layout: layouts/pages.njk
---

<div class="about-panel">
    <img src="/img/greg-robleto.png" alt="Greg Robleto"  />
    <p>Hey there! I'm Greg Robleto. You can see my resume, portfolio, or writings to learn more about me professionally. This page is to know more about me as a person, a husband, a dad, and to share how I found some of the love of design that makes me who I am today.   </p>
</div>

<div class="about-panel">
    <img src="/img/about/greg-baby-on-bed.jpg" alt="Greg Robleto" />
    <p>Oh, we're going way back. I grew up in Hockessin, Delaware, the middle child in a family of five. I became a good student and an average baseball player. I spent my childhood days playing Nintendo, building forts in the woods, and making up stories with the legion of Star Wars and Transformers figures that my brother and I shared. </p>
</div>

<div class="about-panel">
    <img src="/img/about/greg-sandcastles.jpg" alt="Greg Robleto" />
    <p>I watched my dad work hard as an insurance executive, and my mom put herself through school while raising us kids to get her college degree. Vacations were at the beach each summer, and I was constantly creating. </p>
</div>

<div class="about-panel">
    <img src="/img/about/greg-vwbug.jpg" alt="Greg Robleto" />
    <p>Yes, this was my first car, and me heading out to prom. In my teen years, I enjoyed playing tennis, running cross country, and performing in theatre. At this age, we got our first computer, and I spent hours playing SimCity on the green and black screen, marveling at the graphical interface. Not long after, my appreciation of interface potential would explode when we upgraded to the Macintosh SE </p>
</div>

<div class="about-panel">
    <img src="/img/about/greg-disney.jpg" alt="Greg Robleto" />
    <p>I attended college initially at Penn State but transferred to the University of Delaware to get a degree in English. But not before taking a year off to work at Disney World, opening up the Animal Kingdom park, and working in characters. In my time at Disney, I found my appreciation for delivering the best possible customer experience that drives so much of my design today. </p>
</div>

<div class="about-panel">
    <img src="/img/about/greg-josephcoat.jpg" alt="Greg Robleto" />
    <p>I devoted much of college to student theatre, performing, and directing, thinking I would become an actor. I worked at the computer labs to cover costs by providing help desk support. In the downtime at the lab, I taught myself web design which I parlayed into a job post-college with a start-up out of Wilmington. It was also while working in the computer lab that I met Selena.</p>
</div>

<div class="about-panel">
    <img src="/img/about/greg-selena-starglasses.jpg" alt="Greg Robleto" />
    <p>Selena was a graphic design student at Delaware. We dated for most of our 20s, first at school, then long-distance, and then together when I moved to where she was in Rockville, Maryland.</p>
</div>

<div class="about-panel">
    <img src="/img/about/greg-delshakes.jpg" alt="Greg Robleto" />
    <p>I continued theatre post-college and co-founded the Delaware Shakespeare Festival. I performed in a few early shows but found my real calling: managing the business. I absorbed all I could about finance, marketing, business strategy, and governance to build up this theatrical experiment into one of the premiere companies in Delaware. Onstage at the Festival, in front of hundreds of onlookers, is how I proposed to Selena.</p>
</div>

<div class="about-panel">
    <img src="/img/about/greg-selena-jetski.jpg" alt="Greg Robleto" />
    <p>We were married in Islamorada in the Florida Keys, surrounded by about 100 friends and family. I confess we staged this picture, but it indicates the casual, fun atmosphere we wanted for the event. </p>
</div>

<div class="about-panel">
    <img src="/img/about/greg-with-sun.jpg" alt="Greg Robleto" style="transform: rotate(90deg);" />
    <p>In the following years, I worked as a design leader at The Motley Fool and, through osmosis, learned investing. With Selena, I traveled much of the world, visiting four continents before planting our roots in Rockville, buying a house, getting a dog (Sookie), and starting a family.  </p>
</div>

<div class="about-panel">
    <img src="/img/about/greg-with-fam.jpg" alt="Greg Robleto" />
    <p>Meet Kaylee and Ginelle. Becoming a dad was paradigm-shifting; the world gets smaller as the children become the only prioritized project. New web development got bumped for parental development. Contributing to the design community took a backseat to engaging in my community, joining the boards of HOAs, kids PTAs, and the neighborhood swim club. </p>
</div>


<div class="about-panel">
    <img src="/img/about/greg-fam-tenn.jpg" alt="Greg Robleto" />
    <p>As the kids get older, the bandwidth returns. There is more room for travel, now as a family, to Europe, Hawaii, and recently the Middle East. There is room to reconnect with the design community and get inspired by all the accomplishments in our industry. </p>
    <!-- <p>If any of my stories is inspiring, I am honored. I am entering a stage in my career and life where I wish to share what I know and try to give back or pay forward. If I can help you in any way, reach out and let me know. </p> -->
</div>

