---
layout: layouts/home.njk
---

  <div class="grid">

    <section id="overview" class="panel section home-overview viewport-checker">

      <!-- Navigation -->
      {% include "partials/_nav.njk" %}
    
      <!-- Overview -->
      {% include "pages/_index-sections/_overview.njk" %}

    </section>

    <div class="space"></div>

    <section id="portfolio" class="panel section home-portfolio viewport-checker data-scroll-section data-scroll-container">

      <!-- Portfolio -->
      {% include "pages/_index-sections/_portfolio.njk" %}

    </section>


    <div class="space"></div>

    <section id="thoughts" class="panel section home-thoughts viewport-checker">

      <!-- About -->
      {% include "pages/_index-sections/_thoughts.njk" %}

    </section>


    <div class="space"></div>

    
    <section id="projects" class="panel section home-skills viewport-checker">

      <!-- Skills -->
      {% include "pages/_index-sections/_projects.njk" %}

    </section>


    <div class="space"></div>


    <section id="about" class="panel section home-about viewport-checker">

      <!-- Contact -->
      {% include "pages/_index-sections/_about.njk" %}

    </section>

  </div>