---
layout: layouts/home.njk
---

    <section id="overview" class="panel section home-overview">

      <!-- Navigation -->
      {% include "partials/_nav.njk" %}
    
      <!-- Overview -->
      {% include "pages/_index-sections/_overview.njk" %}

    </section>

    <section id="portfolio" class="panel section home-portfolio">

      <!-- Portfolio -->
      {% include "pages/_index-sections/_portfolio.njk" %}

    </section>
    <section id="aboutme" class="panel section home-about">

      <!-- About -->
      {% include "pages/_index-sections/_aboutme.njk" %}

    </section>
    
    <section id="skills" class="panel section home-skills">

      <!-- Skills -->
      {% include "pages/_index-sections/_skills.njk" %}

    </section>
    <section id="contact" class="panel section home-contact">

      <!-- Contact -->
      {% include "pages/_index-sections/_contact.njk" %}

    </section>