---
layout: layouts/pages.njk
---


<p class="portfolio-overview"> My goal in all the projects highlighted below is to provide the best experience to the user that still serving the needs of the business. I am versed in design, technology and product and bring those groups together to find effective solutions. My superpower is solving complex issues with intuitive solutions, and I am driven to make designers better, who in turn make better designs for the business.</small>

  <!-- <h2>Case Studies</h2> -->
  
  <!-- Redesign -->  
  <div class="portfolio-panel">
      <a href="https://dribbble.com/shots/19052793-Redesigning-40-Products-into-One-Holistic-Experience" target="_blank">
      <img src="/img/portfolio/port-sitesredesign3.png" alt="Greg Robleto" />
    </a>
        <figcaption>
          <h4>Concept, Creative Direction, Product & Design Strategy</h4>
          <h3><a href="https://dribbble.com/shots/19052793-Redesigning-40-Products-into-One-Holistic-Experience" target="_blank">
                Redesigning 40 Products into One Holistic Experience</a></h3>
          <small>A case study in simplifying and redesigning an unwieldy collection of 40+ digital subscription products.</small>
        <a href="https://dribbble.com/shots/19052793-Redesigning-40-Products-into-One-Holistic-Experience" target="_blank" class="sub-action">View Project</a>
        </figcaption>
        </a>
    </div>


  <!-- Design Team -->  
  <div class="portfolio-panel">
      <a href="https://dribbble.com/shots/20071572-Building-a-Product-Design-Team" target="_blank">
      <img src="/img/portfolio/port-designteam.png" alt="Greg Robleto" />
    </a>
        <figcaption>
          <h4>Design Director, Design Lead, Hiring Manager</h4>
          <h3><a href="https://dribbble.com/shots/20071572-Building-a-Product-Design-Team" target="_blank">Cultivating a Design Team</a></h3>
          <small>A case study in establishing a new Design team and with that a Design Culture.</small>
          <a href="https://dribbble.com/shots/20071572-Building-a-Product-Design-Team" target="_blank" class="sub-action">View Project</a>
        </figcaption>
        </a>
    </div>


  <!-- Design System -->  
  <div class="portfolio-panel">
      <a href="https://dribbble.com/shots/19194271-Establishing-a-New-Design-System" target="_blank">
      <img src="/img/portfolio/port-designsystem.png" alt="Greg Robleto" />
    </a>
        <figcaption>
          <h4>Concept, Creative Direction, Strategy &amp; Architecture</h4>
          <h3><a href="https://dribbble.com/shots/19194271-Establishing-a-New-Design-System" target="_blank" >Establishing a New Design System</a></h3>
          <small>A case study in finding an entirely new style and installing a custom design pattern library in the process.</small>
          <a href="https://dribbble.com/shots/19194271-Establishing-a-New-Design-System" target="_blank" class="sub-action">View Project</a>
        </figcaption>
        </a>
    </div>

