---
layout: layouts/pages.njk
---

  {% for article in articles %}
      <div class="article">
        <a class="article-image" href="{{ article.url }}">
          <img src="{{ article.image }}" />
        </a>
        <h3 class="article-title">
          <a href="{{ article.url }}">
            {{ article.title }}
          </a>
        </h3>
        <p class="article-desc">
            {{ article.lead }}
        </p>
        <p class="article-meta">
            {{ article.publish }}  ·  
            {{ article.date }} · 
            {{ article.title }} min read</p>
      </div>
  {% endfor %}
