/*----------------------------------------
Footer
----------------------------------------*/

footer {
  text-align:center;
  padding: 4rem 0 2rem;
  display: flex;
  flex-direction: column;
}
footer p {
 font-size:80%;
 line-height: 2.0;
 color:#888;
 margin: 0;
 padding: 0;
 display: inline-block;

}
footer p a {
 border-bottom:dotted 1px #555
}
footer p a:hover {
 color:#222
}