

/*----------------------------------------
Navigation
----------------------------------------*/

div.nav-container {
  display: flex;
  align-items:center;
  justify-content:center;
  width: 100%;
  margin: 0 auto;
  z-index: 999;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}   

nav {
  margin: 0 auto;
  text-transform: uppercase;
  font-weight: 400;
  display: grid;
  white-space: nowrap;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
    "center center"
    "left right";
  @media (min-width: 696px) {
    grid-template-columns: 1fr auto 1fr;
    grid-template-areas: 
    "left center right";
  }

  .fal {
    display: none;                  
    @media (min-width: 696px) {
      display: inline;
      opacity: 0.8;
    }
  }
  .left {
    grid-area: left;
    align-self: center;
    justify-self: end;
  }
  .right {
    grid-area: right;
    align-self: center;
    justify-self: start;
  }
  .center {
    grid-area: center;
    align-self: center;
    justify-self: center;
    grid-column-end: span 2;
    @media (min-width: 696px) {
      grid-column-end: span 1;
    }
    img {
      width: 3.6rem;            
      @media (min-width: 696px) {
        width: 5.5rem;
        margin: 0px 2.0rem;  
      }
    }
  }
  a {
    margin: .25rem 1rem;
    @include link-color(#484848);
    @media (min-width: 696px) {
      margin: 0px 2rem;
    }
    &:hover {
      border-bottom: 2px solid #bbb;
    }
  }
}


