
    <div class="article">
        <a class="article-image" href="{{ post.url }}"><img src="{{ post.data.image }}" alt="{{ post.data.imageAlt }}"/></a>
        <h3 class="article-title">
          <a href="{{ post.url }}">{{ post.data.title }}</a>
        </h3>
        <p class="article-desc">{{ post.data.lede }}</p>
        <p class="article-meta">{{ post.data.author }}  ·  {{ post.data.date | postDate  }} · {{ post.data.length }} min read</p>
    </div>