 
  <footer>

       <p class="copy-text">
         Designed <span class="desktop-only">and coded by hand</span> by Greg Robleto using <a href="www.figma.com">Figma</a>, <a href="https://code.visualstudio.com
">VS Code</a> and <a href="https://codekitapp.com
">CodeKit</a>.</p>
         <p>Hosted with <a href="www.github.com">GitHub</a> and <a href="www.netlify.com">Netlify</a>. Images <span class="desktop-only">primarily</span> from <a href="https://placeit.net
">PlaceIt</a> or <a href="www.unsplash.com">Unsplash</a></p>
        <p>Copyright &copy; 2022 to Greg Robleto. All Right Reserved.</p>

 </footer>