
<div class="nav-container">
    <nav>    
      <header class="center">
        <a href="/index.html"><img src="/img/gr-logo.png" alt="robleto" /></a>
      </header>

      <div class="left nav">
        <a href="#portfolio" class="portfolio"><i class="fal fa-palette"></i> Portfolio</a>
        <a href="#thoughts" class="thoughts"><i class="fal fa-pencil"></i> Thoughts</a>
      </div>
      <div class="right nav">
        <a href="#projects" class="projects"><i class="fal fa-flask-potion"></i> Projects</a>
        <a href="#about" class="about"><i class="fal fa-address-card"></i> About</a>
      </div>
    </nav>
</div>
