
<script id="GSAPs">
  
{#  OVERVIEW  #}

gsap.from(".notebook", {
  y: '-150vw',
  x: '150vw',
  ease: 'circ.out',
  rotation: 270,
  duration: 2.5
});
gsap.from(".pen", {
  y: '-150vw',
  x: '150vw',
  ease: 'circ.out',
  rotation: 270,
  duration: 2.5
});
gsap.from(".phone", {
  y: '-90vw',
  x: '150vw',
  ease: 'circ.out',
  rotation: 270,
  duration: 2.5,
  delay: .5
});

gsap.from(".macbook", {
  y: '-75vw',
  ease: 'bounce.out',
  duration: 2.5,
  delay: 1.5
});

gsap.from(".coffee", {
  x: '-100vw',
  ease: 'back.out',
  duration: 1,
  delay: 1.5
});

gsap.from(".arms", {
  x: '125vw',
  duration: 1.5,
  delay: 3
});

{#  PORTFOLIO  #}

gsap.from(".folio", {
  scrollTrigger: '.title-portfolio',
  x: '-100vw',
  rotation: -90,
  duration: 1.5,
  delay: 1
});


gsap.from(".port-designsys", {
  scrollTrigger: '.title-portfolio',
  x: '-200vw',
  y: '-200vw',
  rotation: 90,
  duration: 1.5,
  delay: 2.5
});

gsap.from(".port-siteredesign", {
  scrollTrigger: '.title-portfolio',
  x: '-150vw',
  y: '-20vw',
  rotation: 90,
  duration: 1.5,
  delay: 2.75
});

gsap.from(".port-designteam", {
  scrollTrigger: '.title-portfolio',
  x: '-50vw',
  y: '-50vw',
  rotation: 90,
  duration: 1.5,
  delay: 3
});

gsap.from(".port-9tax", {
  scrollTrigger: '.title-portfolio',
  x: '-100vw',
  y: '-100vw',
  rotation: 90,
  duration: 1.5,
  delay: 2
});


{#  THOUGHTS  #}

gsap.from(".magazine", {
  scrollTrigger: '.title-thoughts',
  x: '-175vw',
  ease: 'bounce.inOut',
  duration: 2,
  delay: 1
});

gsap.from(".article", {
  scrollTrigger: '.title-thoughts',
  ease: "power1.in",
  opacity: 0,
  stagger: 0.5,
  delay: 3
});


</script>




<script id="rendered-js">
const counterUp = window.counterUp.default;



// Typewriter.js
var app = document.getElementById('typewriter-text');

var typewriter = new Typewriter(app, {
    loop: true,
    delay: 50, // SET TO USE A 1 SECOND DELAY
    cursorClassName: 'cursorSize' // SET TO MY CUSTOM CLASS NAME
});

typewriter.typeString('Creative Director')
    .pauseFor(500)
    .deleteAll()
    .typeString('Product Designer')
    .pauseFor(500)
    .deleteAll()
    .typeString('Marketing Lead')
    .pauseFor(500)
    .deleteAll()
    .typeString('UI Engineer')
    .pauseFor(500)
    .deleteAll()
    .typeString('Design Advocate')
    .pauseFor(500)
    .deleteAll()
    .typeString('CSS Artist')
    .pauseFor(500)
    .deleteAll()
    .typeString('Brand Strategist')
    .pauseFor(500)
    .start();

  </script>
  